
  
  html {
    height: 100%;
  }
  body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Montserrat", sans-serif;
  }
  
  .main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dashboard {
    width: 25%;
    height: 100%;
    background: linear-gradient(168.68deg, #ae00c9 1.12%, #d83fff 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
  
  .call {
    width: 50%;
    height: 100%;
  }
  
  .chat {
    width: 25%;
    height: 100%;
    background: #f4f9fd;
    display: flex;
    flex-direction: column;
  }
  
  button {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
  }
  
  button:hover {
    opacity: 0.5;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
  }
  
  button:active {
    outline: none;
    border: none;
  }
  
  button:focus {
    outline: 0;
  }

  .logo {
   
    width: 150px;
    height: 60px;
  }
  
  .description {
    margin: 0 40px;
  }
  
  .description_paragraph {
    font-weight: 500;
    font-size: 16px;
    color: white;
  }
  
  .personal_key {
    height: 110px;
    margin: 0 40px;
    background: rgba(196, 196, 196, 0.2);
    background-filter: blur(80px);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .personal_key_title {
    padding: 0 25px;
  }
  
  .personal_key_title_paragraph {
    font-size: 16px;
    font-weight: 500;
  }
  
  .personal_key_value {
    display: flex;
    justify-content: space-between;
    margin: 0 25px;
    align-items: center;
  }
  
  .personal_key_value_paragraph {
    font-size: 18px;
    font-weight: 700;
  }
  
  .personal_key_copy_button {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: white;
    transition: 0.5s;
  }
  .copyBtnIcon{
   width: 40px;
   height: 40px;
  
  }
  
  .personal_key_connecting {
    display: flex;
    flex-direction: column;
    margin: 0 40px;
  }
  
  .personal_key_connecting_paragraph {
    font-weight: 500;
    font-size: 18px;
  }
  
  .personal_key_connecting_input {
    width: 100%;
    height: 40px;
  }
  
  .personal_key_input:focus {
    outline: none;
  }
  
  .personal_key_input {
    width: 100%;
    height: 100%;
    background: rgba(196, 196, 196, 0.2);
    background-filter: blur(80px);
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: white;
    padding: 0 20px;
  }
  
  .personal_key_connecting_buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .connecting_button {
    width: calc(50% -50px);
    height: 55px;
    border-radius: 15px;
    transition: 0.5s;
  }
  .videoBtnIcon, .chatBtnIcon{
    width: 50px;
    max-width: 100%;
    max-height: 100%;
  }

  .randomUSer_connecting_container {
 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }
  
  .randomUSer_title_container {
    margin-left: 12%;
    font-weight: 100;
    font-size: 18px;
  }
  
  .randomUSer_buttons_container {
    display: flex;
    justify-content: space-around;
  }
  
  .checkbox_container {
    display: flex;
    margin: 0 40px;
    margin-bottom: 25px;
    align-items: center;
  }
  
  .checkbox_connection {
    width: 30px;
    height: 30px;
    background: rgba(196, 196, 196, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    backdrop-filter: blur(80px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .checkbox_container_paragraph {
    font-weight: 500;
    font-size: 12px;
    margin-left: 15px;
  }
  
  .dashboard_blur {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(196, 196, 196, 0.2);
    filter: blur(80px);
  }

  
  .display_none {
    display: none;
  }


  .videos_container {
    position: relative;
    height: calc(100% - 70px);
    margin: 30px 40px 40px 40px;
    border-radius: 15px;
    background:  linear-gradient(168.68deg, #ae00c9 1.12%, #d57deb 100%);
    /* background-image: url('../utils/images/logo.png'); */
  }
  
  .videos_placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .remote_video {
    width: 100%;
    height: 100%;
  }

  .local_video_container {
    position: absolute;
    width: 180px;
    height: 180px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    background: rgba(196, 196, 196, 0.2);
    top: 15px;
    left: 15px;
  }
  
  .local_video {
    width: 100%;
    height: 100%;
  }

  .call_buttons_container {
    position: absolute;
    width: 395px;
    height: 75px;
    bottom: 40px;
    left: calc(50% - 200px);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .call_button_small {
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    transition: 0.3s;
  }
  
  .call_button_large {
    width: 75px;
    height: 75px;
    border-radius: 75px;
    background: #fc5d5b;
    transition: 0.3s;
  }
  
  .finish_chat_button_container {
    position: absolute;
    width: 395px;
    height: 75px;
    bottom: 40px;
    left: calc(50% - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .video_recording_buttons_container {
    position: absolute;
    width: 180px;
    height: 50px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    backdrop-filter: blur(60px);
    right: 20px;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #stop_recording_button {
    color: white;
    height: 28px;
  }
  